<div class="container my-5">
    <h1 class="mb-3">Add New Employee</h1>

    <div class="row">
        <div class="col-6">
    <form #form="ngForm" (ngSubmit)="addEmployee()">        
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name"
            name="name" [(ngModel)]="addEmployeeRequest.name" required minlength="4" maxlength="30" pattern="[a-zA-Z ]*" #name="ngModel">

            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">

                <div *ngIf="name.errors?.['required']">
                    Name is required.
                </div>
                <div *ngIf="name.errors?.['minlength']">
                    Name must be at least 4 characters long.
                </div>
                <div *ngIf="name.errors?.['maxlength']">
                    Name cannot be more than 30 characters.
                </div>
                <div *ngIf="name.errors?.['pattern']">
                    Only a-z A-Z characters.
                </div>

            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email"
            name="email" [(ngModel)]="addEmployeeRequest.email" #email="ngModel" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">

            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">

                <div *ngIf="email.errors?.['required']">
                    Email is required.
                </div>                
                <div *ngIf="email.errors?.['pattern']">
                    Invalid email.
                </div>

            </div>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" class="form-control" id="phone"
            name="phone" [(ngModel)]="addEmployeeRequest.phone" #phone="ngModel" required pattern="^\d{7}$">

            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert">

                <div *ngIf="phone.errors?.['required']">
                    Phone is required.
                </div>                
                <div *ngIf="phone.errors?.['pattern']">
                    Phone must have 7 digits.
                </div>

            </div>
        </div>
        <div class="mb-3">
            <label for="salary" class="form-label">USD Salary</label>
            <input type="number" class="form-control" id="salary"
            name="salary" [(ngModel)]="addEmployeeRequest.salary" #salary="ngModel" required pattern="[1-9]\d{4}">

            <div *ngIf="salary.invalid && (salary.dirty || salary.touched)" class="alert">

                <div *ngIf="salary.errors?.['required']">
                    Salary is required.
                </div>                
                <div *ngIf="salary.errors?.['pattern']">
                    Salary must be greater than $10000.
                </div>

            </div>
        </div>
        <div class="mb-3">
            <label for="department" class="form-label">Department</label>
            <input type="text" class="form-control" id="department"
            name="department" [(ngModel)]="addEmployeeRequest.department" required minlength="4" maxlength="30" pattern="[a-zA-Z ]*" #department="ngModel">

            <div *ngIf="department.invalid && (department.dirty || department.touched)" class="alert">

                <div *ngIf="department.errors?.['required']">
                    Department is required.
                </div>
                <div *ngIf="department.errors?.['minlength']">
                    Department must be at least 4 characters long.
                </div>
                <div *ngIf="name.errors?.['maxlength']">
                    Department cannot be more than 30 characters.
                </div>
                <div *ngIf="department.errors?.['pattern']">
                    Only a-z A-Z characters.
                </div>

            </div>
        </div>
            <button type="submit" class="btn btn-primary">Save</button>          
    </form>
        </div>
    </div>
</div>